apiVersion: v2
appVersion: "1.0"
description: Zeebe Cluster + Operate Helm Chart for Kubernetes
name: zeebe-full-helm
version: 0.1.0-SNAPSHOT
type: application
icon: https://zeebe.io/img/zeebe-logo.png
dependencies:
- name: zeebe-cluster-helm
  repository: http://jenkins-x-chartmuseum:8080
  version: 0.0.208
- name: zeebe-operate-helm
  repository: http://jenkins-x-chartmuseum:8080
  version: 0.0.38
- condition: zeeqs.enabled
  name: zeebe-zeeqs-helm
  repository: http://jenkins-x-chartmuseum:8080
  version: 0.0.22
- condition: tasklist.enabled
  name: zeebe-tasklist-helm
  repository: http://jenkins-x-chartmuseum:8080
  version: 0.0.10
- name: ingress-nginx
  repository: https://kubernetes.github.io/ingress-nginx
  version: 3.19.0
